body {
  background: #111;
  color: #eee;
  font-family: monospace;
  text-align: center;
}

canvas {
  background: #222;
  border: 2px solid #555;
}

#log {
  height: 150px;
  overflow-y: auto;
  background: #000;
  margin: 10px;
  padding: 5px;
  font-size: 12px;
}
